extends layout.pug

block content
  link(rel="stylesheet" href="/stylesheets/about.css")
  a(href='/search', class='btn btn-secondary mb-3 myNewclass position-sticky align-self-start' style="top:60px;") Back to Search

  h1 Our Team
  .cd.r
    a(href='/about/brenna' class='text-decoration-none').c
      img(src='/images/image_1350.jpg' alt='...')
      p Brenna Gilbert
      p Team Lead/Program Manager
    a(href='/about/ian' class='text-decoration-none').c
      img(src='/images/1712926917356.jpeg' alt='...')
      p Ian Knott
      p Backend/Frontend Lead Engineer-CTO
    a(href='/about/adan' class='text-decoration-none').c
      img(src='/images/am.png' alt='...')
      p Adan Matute
      p Backend Engineer
    a(href='/about/demetrio' class='text-decoration-none').c
      img(src='/images/IMG_1789-200x200.png' alt='...' style='max-height: 250px;')
      p Demetrio Ricardo Calimag
      p Front End Engineer
    a(href='/about/subhan' class='text-decoration-none').c
      img(src='/images/cs.jpg' alt='...')
      p Subhan Khan
      p Front End Engineer
    a(href='/about/daniel' class='text-decoration-none').c
      img(src='/images/dm.jpg' alt='...')
      p Daniel Mitra
      p Github Master
    a(href='/about/leonardo' class='text-decoration-none').c
      img(src='/images/9805795.jpg' alt='...')
      p Leonardo Segura
      p Front End Engineer
