doctype html
html(lang="en")
  head
    title Error
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    .container
      h1 Error
      p An error occurred while processing your request.
      a(href='/') Go back to Home
