html(lang="en" data-bs-theme="dark")
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
 
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='#') CSC 648: Software Engineering Group 3
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/') Home
        li.nav-item
          a.nav-link(href='/features') Features
        li.nav-item
          a.nav-link(href='/about') About Our Team.
        li.nav-item
          a.nav-link(href='/search') Search