extends layout.pug

block content
    a(href='/search', class='btn btn-secondary mb-3 myNewclass position-sticky align-self-start') Back to Search

    .container.text-center.mt-5
        // Profile Image
        img.rounded-circle.mx-auto.d-block(src='/images/cs.jpg' alt='Profile Image' style='width: 200px; height: 200px;')
        // Description
        h2.mt-3 Subhan Khan
        p Front End Engineer
        p Creating a front end that displays a user interface that keeps users engaged.
        // Social Media Links (Github)
        .mt-4
            a.btn.btn-primary(href='https://github.com/SKTC4444' target='_blank')  Github
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')